.header {
  width: 100%;
  max-width: 80rem;
  margin: auto;
  padding: 2rem;
  display: flex;
  /* justify-content: center; */
}

.navbar {
  width: 100%;
  padding-inline: 5%;

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;

  white-space: nowrap;
}

.list {
  display: flex;
  gap: 1rem;
}

.list li a {
  padding: 10px;
  border-color: var(--color-primary-400);

  text-decoration: none;

  color: var(--color-primary-400);
}

.list li a:hover {
  border-bottom: 1px solid;
  border-color: var(--color-primary-800);

  color: var(--color-primary-800);
}

.list li a.active {
  border: 1px solid;

  /* color: var(--color-primary-800); */
}

.authActions {
  display: flex;
  align-items: center;
  gap: 10px;
}

.navButton {
  height: 32px;
  border: none;
  border-radius: 5px;
  padding: 4px 10px;

  font-size: 1rem;
  text-decoration: none;

  background-color: var(--color-gray-100);
  color: black;
}

.navButton:hover {
  background-color: var(--color-primary-300);
  color: black;
}
